/* .swiper {
  width: 100%;
  height: 100%;
} */

.zoom-slide img{
  height: 40vh !important;
}


.swiper-room-img{
  border-radius: 10px;
}

a{
  text-decoration: none !important;
}

/* @media (max-width: 1200px) {
.swiper {
  width: 100%;
  height: 200px;
}
} */