.swiper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.swiper-slide {
  background-position: center;
  width: auto;
  /* height: 300px; */
  /* height: 100%; */
  
}

.swiperImg img {
  display: block;
  width: 90% !important;
  border-radius: 10px;
}


a{
  text-decoration: none !important;
}